<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Welcome to MOVEMATE | Individual Account Verification</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <style>
    body {
      font-family: 'Prompt', sans-serif;
    }

    .wrapper {
      align-self: center;
      flex-grow: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      gap: 8px;
    }

    .hero {
      align-self: stretch;
      flex-grow: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 16px;
      padding: 64px;
      background-image: linear-gradient(101deg, #003074 2%, #003da6 99%);
    }

    .title {
      align-self: stretch;
      flex-grow: 0;
      font-family: Prompt;
      font-size: 32px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: #fff;
    }

    .sub-title {
      align-self: stretch;
      flex-grow: 0;
      font-family: Prompt;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      line-height: 1;
      text-align: left;
      color: #919eab;
    }

    .sub-content {
      align-self: stretch;
      flex-grow: 0;
      font-family: Prompt;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #637381;
      padding: 0 64px;
    }

    .contents {
      align-self: stretch;
      flex-grow: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      gap: 4px;
      padding: 0 64px;
    }

    .actions {
      margin-top: 32px;
      height: 36px;
      align-self: stretch;
      flex-grow: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 16px;
      padding: 0 64px;
    }

    .activate-button {
      width: 89px;
      height: 36px;
      flex-grow: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 8px;
      padding: 6px 16px;
      border: none;
      border-radius: 8px;
      background-color: #2065d1;
    }

    .activate-button-label {
      flex-grow: 0;
      font-family: Prompt;
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: center;
      color: #fff;
    }

    .movemate-button {
      width: 155px;
      height: 36px;
      flex-grow: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: unset;
      gap: 8px;
      padding: 6px 16px;
      border: none;
      border-radius: 8px;
      border: solid 1px rgba(32, 101, 209, 0.48);
    }

    .movemate-button-label {
      flex-grow: 0;
      font-family: Prompt;
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: center;
      color: #2065d1;
    }

    footer {
      margin-top: 32px;
      height: 56px;
      align-self: stretch;
      flex-grow: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 16px 64px 0;
    }

    .coporate-name-wrapper {
      flex-grow: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      padding: 0;
    }

    .coporate-name {
      width: 141px;
      flex-grow: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      padding: 0;

    }

    .coporate-email {
      align-self: stretch;
      flex-grow: 0;
      font-family: Prompt;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.57;
      letter-spacing: normal;
      text-align: left;
      color: #212b36;
    }
  </style>
</head>

<body>
  <div class="hero">
    <div class="title">การลงทะเบียนใกล้สำเร็จแล้ว</div>
    <div class="sub-title">Movemate ขอบคุณที่ท่านสมัครสมาชิกรูปแบบ "Individual"</div>
  </div>
  <div class="wrapper">
    <p class="sub-content">*** อีเมลถูกส่งด้วยระบบอัตโนมัติ กรุณาอย่าตอบกลับอีเมลฉบับนี้ ***</p>
    <p class="contents">
      สวัสดีคุณ {name},
      </br>
      </br>
      กรุณากด Activate เพื่อยืนยันการสมัครสมาชิก คุณสามารถเริ่มใช้งาน Movemate ได้ทันทีหลังจาก Activate Account
      โปรดทราบเมื่อคุณเริ่มต้นใช้งาน Movemate คุณได้อ่านเงื่อนไขข้อกำหนดต่างๆและยินยอมเป็นที่เรียบร้อยแล้ว
      หากมีข้อสงสัยกรุณาติดต่อเราได้ที่ www.movemateth.com
      </br>
      </br>
      ลูกค้าสามารถ Upgrade สมาชิกเป็นรูปแบบบริษัทได้ โดยกรอกข้อมูลเหมือนสมัครแบบบริษัทใหม่
      <br />- ยกเว้นไม่ต้องกรอก email (แต่สามารถเปลี่ยน email ที่เคยใช้สมัครบุคคลได้)
      <br />- ยกเว้นไม่ต้องกรอกเบอร์โทรศัพท์ (แต่สามารถเปลี่ยนเบอร์ที่เคยใช้สมัครบุคคลได้)
    </p>

    <div class="actions">
      <button class="activate-button"><label class="activate-button-label">Activate</label></button>
      <button class="movemate-button"><label class="movemate-button-label">Go to MoveMate</label></button>
    </div>
  </div>
</body>
<footer>
  <div class="coporate-name-wrapper">
    <span class="coporate-name">MoveMate</span>
    <span class="coporate-email">contact@movemateth.com</span>
  </div>
</footer>

</html>